<div class="wrapper col-md-12">
<header class="header col-md-12 text-center">
  <div class="container">
    <h1>Stock Market</h1>
    <p class="lead">Search the Stock Market Now!</p>
  </div>
</header>

<div class="row">
  <div id="chart" class="col-md-12"></div>
</div>

<div class="container col-md-12 stock-info">
    <div class="col-md-6 stock-sect">
      <h1 class="page-header text-center">Stocks Added to the Chart:</h1>
      <ul class="col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 col-sm-8 col-sm-offset-2" ng-repeat="stock in stockList">
        <li class="stock-wrap text-center"><a href="#" class="stock-name" tooltip="{{thing.info}}">{{stock.name}}<button type="button" class="close" ng-click="deleteStock(stock)"><i class="glyphicon glyphicon-remove"></i></button></a></li>
      </ul>

    </div>
    <div class="col-md-6 stock-sect text-center">
      <form class="stock-form col-md-10 col-md-offset-1">
        <label class="search-label">Enter Stock Name To Add To Chart!</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Enter A New Stock Name" ng-model="newStock">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addStock()">Add New</button>
          </span>
          <p class="error-message">{{errormessage}}</p>
        </p>
      </form>
    </div>
</div>

<!-- <footer class="footer">
  <div class="container text-center">
      <p class="foot">Stock Market Application | Daniel Maloof</p>
  </div>
</footer> -->
</wrapper>